<%= stylesheet_link_tag "menu_item" %>
<div class="write_review_wrapper" style="display:none;">
	<%= render 'comment/form' %>
</div>
<div class="menuitem_wrapper" style="display:block;">
	<div class="menuitem_detail_wrapper">
		<div class="menuitem_detail_left">
			<strong><%= @menu_item.name %></strong>
			<div class="menuitem_rating">
				4.1 <img src='/assets/star-on.png'>
				<img src='/assets/star-on.png'>
				<img src='/assets/star-on.png'>
				<img src='/assets/star-on.png'>
				<img src='/assets/star-off.png'>
				&nbsp;&nbsp;&nbsp;<span style="font-size:0.7em;">23,252 reviews</span>
			</div>
		</div>
		<div class="menuitem_detail_right">
			<div class="menuitem_price">$22</div>
			<div class="menuitem_write_link">
				<a href="#" onclick="showWriteReviewWrapper()">Write a review</a>
			</div>
		</div>
	</div>	
	<div class="menuitem_picture"></div>
	<div align="center" class="reviewtypes_wrapper">
		<%= render 'reviewtype/index' %>
	</div>
	<div class="review_best_wrapper" id="review_best_wrapper<%= @reviewtype_index %>">
	</div>
	<div class="review_content_wrapper">
		<%= render 'comment/list' %>
	</div>
</div>

<%= link_to 'Back to Menu List', restaurant_path(@restaurant) %>

<BR>
<h1>Review Types:</h1>
<%= form_for @menu_item do |f| %>
	<%= f.text_field :review_types, :value => ''%>
	<%= f.submit "Add" %>
<% end %>


